.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(23, 24, 26, 0.90),
                              rgba(23, 24, 26, 0.90)),
                              url('../../assets/images/sim-background.png') no-repeat center center fixed;
}
