@import '_variables';

.wrapper {
  background: $dark-grey;
  min-height: 100vh;
  font-family: $primary-font;
}

.content {
  margin: auto;
  width: 1220px;
  padding-top: 70px;
  position: relative;
}

.section-header {
  color: white;
  font-weight: light;
  padding: 0 .3rem;
  font-size: 1.1rem;
  margin: 25px 0;
}

hr {
  font-size: .9rem;
  border: .2px solid rgba(#d7d7d7, 0.2);
}

.header {
  color: white;
}
