// Colors
$primary-red: #E8373E;
$deep-red: #4b2123;
$light-blue: #212639;
$dark-blue: #00060E;
$white: #E5E4EA;
$dark-grey: #1b1c1d;
$light-grey: #242628;

// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
