body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #E8E8E8;
}
/**** Page container styles ****/
.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    cursor: pointer;
}

button {}

button:hover {
    cursor: pointer;
}

/****** Sign Up and Login Page styles ********/

#form-page {
    background: #333333;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
}

.form-container {
    margin: auto;
    width: 400px;
    height: auto;
    background: #FBFBFB;
    border-radius: 3px;
    box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.5);
}

.form-header {
    text-align: center;
    color: white;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #DD0021;
}

.form-page-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
}

#login-form, #signup-form {
    margin: auto;
    display: table;
    width: 60%;
}

.form-input {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #333333;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    padding: 5px;
    background: #FBFBFB;
}

/* Removes yellow bg from form inputs on autofill */
.form-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-submit-button {
    width: 150px;
    margin: 5px auto 5px auto;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #DD0021;
    color: #FFFFFF;
}

#form-error {
  display: none;
  color: #FF0000;
  margin: auto;
  text-align: center;
}

.form-footer {
  font-size: .85em;
  text-align: center;
}

.footer-link {
    color: blue;
    text-decoration: underline;
}

/**** menu and nav bar styles ****/

.menubar-container {
    width: 960px;
    margin: auto;
    position: relative;
}

.menubar {
    vertical-align: middle;
    background: #333333;
}

.logo {
    display: inline-block;
    color: #E8E8E8;
}

.nav {
    display: inline-block;
}

.nav-items {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-item > a {
  color: #E8E8E8;
  font-size: 1.2em;
}

.nav-item:hover {
  color: #DD0021;
}

.login, .user-options {
    display: none;
    position: absolute;
    right: 5px;
}

.login {
    top: 25%;
}

.login-option, .user-option {
    display: inline-block;
    color: #E8E8E8;
    margin-right: 10px;
}

.user-options {
    top: 50%;
}

/** main contents of site **/
.content {
  width: 100%;
}

.row {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.item {
  width: 33%;
  display: inline-block;
  background: #333333;
  border-radius: 1px;
  padding: 0;
  color: #E8E8E8;
  margin-right: 10px;
}

.item:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.40);
}

.item-info {
  padding: 15px;
}

.item-img {
  margin: auto;
  display: block;
  width: 100%;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.item-title {
  margin: 10px 0 10px 0;
}

.item-creator {
  margin: 5px 0 5px 0;
}

.item-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.footer {
  background: #333333;
}

.footer-container {
  width: 960px;
  margin: auto;
  display: table;
}

/* dashboard page css */

.user-profile {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  background: #E8E8E8;
  height: 200;
}

.col {
  margin-right: 20px;
}

#user-info {
  margin: 0 20px 0 20px;
  width: 100%;
}

.user-img {

}

/* uploads css */

.selection {
  width: 100%;
  border: 3px solid #333333;
  border-radius: 3px;
  margin-bottom: 20px;
}

.selection > h2 {
  margin: 0;
  width: 100%;
  background: #333333;
  color: #E8E8E8;
}

.selection > h2:hover {
  cursor: pointer;
  color: #DD0021;
}

.upload-form {
  width: 50%;
  margin: 20px auto;
}

.upload-form-input {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid #333333;
  border-radius: 2px;
  width: 75%;
  height: 30px;
  padding: 5px;
  background: #FBFBFB;
}

.upload-form > textarea {
  resize: none;
  border: 2px solid #333333;
  border-radius: 2px;
  width: 100%;
  background: #FBFBFB;
  margin-top: 5px;
  margin-bottom: 10px;
}

.upload-file-input {
  margin-top: 5px;
  margin-bottom: 10px;
}

.upload-submit-button {
  width: 150px;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #DD0021;
  color: #FFFFFF;
}

/* loader css */
.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #E8E8E8;
}

.loader,
.loader:before,
.loader:after {
  background: #DD0021;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #DD0021;
  text-indent: -9999em;
  margin: 25% auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
