.useroptions {
  position: absolute;
  right: 0;
  height: 100%;
}

.icon {
  position: absolute;
  right: 0;
}

.down, .userimg {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.userimg {
  border-radius: 1px;
  position: relative;
}

.down {
  line-height: 60px;
}

.menu {
  width: 200px;
  padding-top: 60px;
  text-align: right;
}

.username {
  font-size: 1.25rem;
}

.menu-options {
  backgorund-color: #212020;
  margin: auto;
  padding: 0;
  list-style: none;
  li {
    padding: 0 .5rem;
    margin-bottom: 10px;
  }
}


.useroptions:hover {
  .menu {
    display: block;
  }
}
