.wrapper {
  width: 100%;
  background-color: #333333;
  font-family: helvetica;
  color: #FFF;
}

.container {
  height: 80px;
  width: 75%;
  margin: 0 auto;
  padding: 0 5px;
  position: relative;
}

.container > div {
  display: inline-block;
}

.header {
  width: 25%;
  line-height: 80px;
}

.logo {
  height: 50px;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

.nav-menu {
  margin-left: 10px;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items > li {
  display: inline-block;
  padding: 0 10px;
  line-height: 80px;
}

.nav-items > li > a {
  color: white;
  text-decoration: none;
}

.user-section {

}

.user-options {
  list-style: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-70%);
}

.user-options > li {
  display: inline-block;
  line-height: 80px;
  padding: 0 10px;
}
