@import '_variables';

.wrapper {
  width: 100%;
  background-color: $light-grey;
  color: #FFF;
  position: fixed;
  z-index: 1;
  font-family: $primary-font;
}

.container {
  height: 60px;
  width: 95%;
  margin: 0 auto;
  position: relative;

  div {
    display: inline-block;
  }
}

.header {
  line-height: 60px;
}

.logo {
  height: 32px;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: 0 5px;
}

.nav-menu {
  position: absolute;
  left: 20%;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    display: inline-block;
    height: 60px;
    &:hover {
      background: $dark-grey;
    }

    a {
      display: block;
      height: 60px;
      line-height: 60px;
      text-align: center; 
      padding: 0 30px;
      min-width: 100%;
      text-transform: capitalize;
      font-size: 1.175rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.active {
  border-bottom: 2px inset $primary-red;
}
