@import '_variables';

.wrapper {
  width: 100%;
  background-color: $light-grey;
  color: #FFF;
  position: fixed;
  z-index: 1;
  font-family: $primary-font;
}

.container {
  height: 60px;
  width: 95%;
  margin: 0 auto;
  position: relative;

  div {
    display: inline-block;
  }
}

.header {
  line-height: 60px;
}

.logo {
  height: 32px;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
  margin: 0 5px;
}

.nav-menu {
  position: absolute;
  left: 20%;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    display: inline-block;
    transition: background 250ms ease-in;
    &:hover {
      background: $dark-grey;
    }

    a {
      display: block;
      height: 60px;
      width: 150px;
      line-height: 60px;
      text-align: center;
      min-width: 100%;
      font-size: 1.175rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      &:after {
        display: block;
        content: '';
        border-bottom: 3px inset $primary-red;
        transform: scaleX(0);
        transition: all 250ms ease-in-out; 
        border-radius: 3px;
      }
    }
    a.active {
      background: $dark-grey;
      &:after {
        transform: scaleX(1);
      }
    }
  }
}

.auth-options {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
  }
}

.signup,
.login {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: .94em;
}

.signup {
  border: 1px solid $primary-red;
}

.login {
  transition: font-weight .3s ease;
}

.login:hover {
  font-weight: 600;
  color: #989CA2;
}

.signup:hover {
  font-weight: 600;
  color: #989CA2;
}

.user-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}