@import '_variables';

.wrapper {
  position: relative;
  display: block;
  width: 450px;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  top: 150px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  font-family: "Hiragino Kaku Gothic Pro";
}

.form-toggle-container {
  width: 100%;
  background-color: #17181a;
  z-index: 1;
}

.toggle-tab > a {
  text-decoration: none;
}

.tab-span {
  width: 225px;
  height: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.toggle-tab {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 225px;
  border: none;
  font-size: 1.2em;
  display: inline-block;
  outline: none;
  box-sizing: border-box;
  z-index: 3;
  position: relative;
  .tab-span {
    color: #FFF;
  }
}

.toggle-tab:hover {
  cursor: pointer;
}

.login-active {
  left: 0;
}

.signup-active {
  left: 50%;
}

.active-bg {
  width: 50%;
  height: 50px;
  background-color: #3C3C3C;
  position: absolute;
  border-bottom: 2px solid $primary-red;
  top: 0;
  box-sizing: border-box;
  z-index: 2;
  transition: left .3s ease;
}
