.wrapper {
  max-width: 1220px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-card {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}
