.wrapper {
  background: #b8b8b8;
  display: block;
  width: 450px;
  margin: 50px auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.form-toggle-container {
  width: 100%;
}

.login-toggle, .signup-toggle {
  height: 50px;
  width: 225px;
  border: none;
  font-size: 1.2em;
  display: inline-block;
  outline: none;
}

.tab-span {
  width: 225px;
  height: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.toggle-tab:hover {
  cursor: pointer;
}

.login > .login-toggle {
  background: #b8b8b8;
}

.login > .signup-toggle {
  background: #FFFFFF;
}

.signup > .login-toggle {
  background: #FFFFFF;
}

.signup > .signup-toggle {
  background: #b8b8b8;
}

.container {

}
