.wrapper {
  position: relative;
  display: block;
  width: 450px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  top: 200px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 20px 0px rgba(50, 50, 50, 0.75);
  border-radus: 2px;
}

.form-toggle-container {
  width: 100%;
}

.login-toggle, .signup-toggle {
  height: 50px;
  width: 225px;
  border: none;
  font-size: 1.2em;
  display: inline-block;
  outline: none;
}

.toggle-tab > a {
  text-decoration: none;
}

.tab-span {
  width: 225px;
  height: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FE4444;
}

.toggle-tab:hover {
  cursor: pointer;
}

.login > .login-toggle {
  background: #FE4444;
}

.login > .signup-toggle {
  background: #FFF;
}

.signup > .login-toggle {
  background: #FFF;
}

.signup > .signup-toggle {
  background: #FE4444;
  color: #FFF
}

.container {

}
